.subnav
  %ul.nav.nav-pills
    %li
      %a{:href => "/simulations"} Overview
    %li.active
      %a{:href => "/simulations/new"} Create a new simulation

      
=haml(:'simulations/_form', :layout => false, :locals => {:simulation => simulation, :machines => machines, :products => products} )