
ul.items{
  float: left;
  margin-left: 0;
  margin-top: 10px;
  width: 930px;
}

ul.items li.item{
  border-bottom: 1px solid #E9E9E9;
  clear: left;
  float: left;
  list-style-type: none;
  min-height: 90px;
  padding: 20px 10px 10px 4px;
  width: 100%;
}

ul.items li.item:hover{
  background: #f7f7f7;
  border-left: 4px solid #323232;
  padding-left: 0;
}

ul.items li.item .trigger{
  float:left;
  min-height: 30px;
  width: 35px;
}

ul.items li.item:hover .trigger{
}

ul.items div.item{
  float:left;
  width: 860px;
}

ul.items li.item:hover div.item{
}

ul.items div.item .data{
  float: left;
  width: 700px;
}

ul.items div.item h4{
  float: left;
}

ul.items div.item span.text-state{
  float:left;
  margin: 7px 0 0 20px;
}

ul.items div.item span.text-state:hover{
  cursor: pointer;
}

ul.items div.item span.text-state.online:hover{
    background: #027f34;
}

ul.items div.item span.text-state.offline:hover{
    background: #999;
}

span.text-state.label.success.online{
  display: none;
}

ul.texts div.item span.text-title,
ul.texts div.item span.text-content{
  clear: left;
  float: left;
  margin: 10px 0 0 20px;
}

ul.items div.crud{
  display: none;
  float: right;
  margin-top: 20px;
  padding: 0;
}

/*
ul.items div.crud .btn{
  font-weight: bold;
  float:left;
  margin-left: 5px;
  text-align: center;
  width: 75px;
}
*/
ul.items div.crud ul li{
  clear: left;
  float: left;
  list-style-type: none;
  margin-top: 5px;
}



ul.items li.item:hover div.crud{
  display: block;
}

ul.items h5{
  font-size: .89em;
  line-height: 20px;
}

ul.items h4.item-name{
  float: left;
  line-height: 20px;
  max-width: 400px;
}

ul.items h5.item-identifier{
  float: left;
  max-width: 200px;
  padding: 1px 0 0 20px;
}

ul.items h5.item-description{
  clear: left;
  float: left;
  font-weight: normal;
}

ul.infos{
  clear: left;
  float: left;
  margin-bottom: 10px;
  margin-left: 25px;
  padding-bottom: 10px;
}

ul.infos li{
  float:left;
  list-style-type: none;
  margin: 20px 14px 0 0;
  padding: 8px;
  text-align: center;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}

ul.infos li:hover{
  background: #eaeaea;
}

ul.infos li span{
  clear: left;
  float: left;
}

ul.infos li span.value{
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

ul.infos li span.name{
  font-size: 12px;
  margin-top: 2px;
  text-align: center;
}

.row.overview{
  margin-top: 40px;
}

.overview ul.actions{
  float: left;
  margin-top: 5px;
  width: 165px;
}

.overview ul.actions li{
  list-style-type: none;
  clear: none;
  float: left;  
  margin-right: 10px;
}

.overview ul.records li{
  list-style-type: none;
  clear: none;
  float: left;
  margin-right: 20px;
  margin-top: 15px;
}

.overview .model{
  border-bottom: 1px solid #ededed;
  clear: left;
  float: left;
  margin-bottom: 20px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.overview .settings{
  border-left: 1px solid #ededed;
  height: 350px;
  margin-left: 50px;
  padding-left: 50px;
}

.overview .model h3{
  float: left;
  width: 180px;
}

.overview .model a{
  float: left;
}

.data-table .data-cell{
  display: inline-block;
  margin-right: 10px;
  width: 100px;
}

.data-table .data-cell.check-only{
  width: 20px;
}

.data-table .nav-list li a:hover {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background-color: #6399cc;
}

.record-type-nav{
  margin-top: 30px;
}

.record-type-nav{
  float:left;
  width: 600px;
}

.record-options.btn-group{
  float:right;
  margin-top: 35px;
  width: 150px;
}