.content
  .page-header
    %h1
      Ajouter un achat
      %small <strong>#{current_account.name}</strong> pour <strong>#{current_user.mail}</strong>
  .row
    .span11
      %ul.breadcrumb
        %li
          %a{:href => "/purchases"} Achats
          %span.divider /
        %li.active Ajouter un achat
        
      =haml(:'purchases/_form', :layout => false, :locals => {:purchase => purchase} )
