%ul.nav.nav-pills.nav-stacked
  %li.active
    %a{:href => '/#/settings/constants/machine-type'} Machine type

  %li
    %a{:href => '/#/settings/constants/product-type'} Product type

  %li
    %a{:href => '/#/settings/constants/uom'} Unit of measure