%ul.nav.nav-pills.nav-stacked
  %li.active
    %a{:href => '/#/settings/simulation-parameters/current'} Default (Current)

  %li
    %a{:href => '/#/settings/simulation-preferences/create'} Create new set...