.content
  .page-header
    %h1
      À propos
  .row
    .span10
      %h2= settings.title
      %p Simple et facile d'utilisation, cette application ne révolutionnera pas votre vie ohhh non. Mais elle vous permet de gratuitement rédiger et maintenir un ensemble des principes de vie sur lesquels vous basez vos actions réflexsions dans la vie de tous les jours.

      %h4 Partagez votre code de vie
      %p Il est libre à vous de partager ou non votre contenu avec les autres utilisateurs de l'application, ou même simplement avec les utilisateurs de n'importe quel réseau social. Vous pouvez configurer aisément la visibilité souhaité, ainsi que de la restreindre ou de l'ouvrir à tout moment comme bon vous semble.
    .span4
      %h3 Auteur
      %p Je m'appelle <strong>Jeff Girard</strong> et je suis le développeur+intégrateur de cette application web. Je m'amuse avec divers projets de développement afin de pouvoir tester certaines technologies et me garder à jour quant aux nouvelles tendances.
