.row
  .span15
    %h2= settings.title

    %form{:action => '/mon-compte', :method => 'post'}
      %fieldset
        .clearfix
          %label{:for => "contact-mail"} Votre courriel
          .input
            .input-prepend
              %span.add-on @
              %input#contact-mail.large{:name => "contact[mail]", :size => "50", :type => "text", :value => nil}/
        .clearfix
          %label{:for => "contact-subject"} Sujet
          .input
            %select#contact-subject{:name => "normalSelect"}
              %option Commentaire
              %option Problème/Support technique
              %option Suggestions/Idées
              %option Autres
        .clearfix
          %label{:for => "contact-content"} Exprimez-vous
          .input
            %textarea#contact-content.xlarge{:name => "contact[content]", :rows => "8"}
        .actions
          %input.btn.primary{:type => "submit", :value => "Submit"}
            \ 
            %button.btn{:type => "reset"} Cancel
