.row
  .span15
    %h2= settings.title

    %form{:action => '/contact', :method => 'post'}
      %fieldset
        .clearfix
          %label{:for => "contact-mail"} Email
          .input
            .input-prepend
              %span.add-on @
              %input#contact-mail.large{:name => "contact[mail]", :size => "50", :type => "text", :value => nil}/
        .clearfix
          %label{:for => "contact-subject"} Subject
          .input
            %select#contact-subject{:name => "normalSelect"}
              %option Comments
              %option Bug/Technical Support
              %option Features suggests / Idea
              %option Partnership / Contribution
              %option Other
        .clearfix
          %label{:for => "contact-content"} Body
          .input
            %textarea#contact-content.xlarge{:name => "contact[content]", :rows => "8"}
        .actions
          %input.btn.primary{:type => "submit", :value => "Submit"}
            \ 
            %button.btn{:type => "reset"} Cancel
