.subnav
  %ul.nav.nav-pills
    %li.active
      %a{:href => "/products"} Overview
    %li
      %a{:href => "/products/new"} Create a new product


%ul.items
  - products.each do |product|
    = haml(:'products/show', :layout => false, :locals => {:product => product} )