.subnav
  %ul.nav.nav-pills
    %li
      %a{:href => "/products"} Overview
    %li.active
      %a{:href => "/products/new"} Create a new product

      
=haml(:'products/_form', :layout => false, :locals => {:product => product, :products => products, :uoms => uoms} )
