.content
  .page-header
    %h1
      Vue d'ensemble
      %small <strong>#{current_account.name}</strong> pour <strong>#{current_user.mail}</strong>
  .row
    .span16

      #pop-text.modal.hide
        %form{:id => 'frm-text', :class => 'form-add-text', :action => '/texts/add', :method => 'post'}
          .modal-header
            %a.close{:href => "#"} ×
            %h3 Créer un nouveau texte
          .modal-body

            %fieldset
              .clearfix
                %label{:for => "text-title"} Titre
                .input
                  %input#text-title.xlarge{:name => "text[title]", :size => "30", :type => "text"}
              .clearfix
                %label{:for => "text-tags"} Tags
                .input
                  %input#text-tags.xlarge{:name => "text[tags]", :size => "30", :type => "text"}

          .modal-footer
            %input.btn.primary{:type => 'submit', :href => "#", :value => 'Ajouter'}
            %a.btn.secondary{:href => "#"} Annuler
