.content
  .page-header
    %h1
      Tableau de bord
      %small Connecté en tant que <strong>#{session[:user].mail}</strong>
  .row
    .span11
      %h2 Mes textes
      %ul#dashboard-nav.pills
        %li.listing.active
          %a{:href => "#mon-code"} Rédaction du contenu
        %li.parameters
          %a{:href => "#parametres"} Paramètres (Visibilité / Partage)

      .listing-items.tab
        %h4.count>
          %a.btn.small{:id => 'btn-add-content', :href => "/articles/ajouter", 'data-controls-modal' => 'pop-content', 'data-backdrop' => 'true'} Créer un nouveau texte

      .parameters.tab
        %form
          %fieldset
            .clearfix
              %label#optionsRadio Visibilité dans la communauté
              .input
                %ul.inputs-list
                  %li
                    %label
                      %input{:checked => "", :name => "user[visibility]", :type => "radio", :value => "visible_unrestricted"}
                        %span Je suis <strong>visible</strong> et <strong>j'accepte</strong> les demandes d'amitiés 
                  %li
                    %label
                      %input{:name => "user[visibility]", :type => "radio", :value => "visible_restricted1"}
                        %span Je suis <strong>visible</strong> mais je <strong>n'accepte pas</strong> les demandes d'amitiés 
                  %li
                    %label
                      %input{:name => "user[visibility]", :type => "radio", :value => "invisible"}
                        %span Je suis <strong>invisible</strong> (aucune demandes d'amitiés possibles)
            .clearfix
              %label#optionsRadio Confidentialité du contenu
              .input
                %ul.inputs-list
                  %li
                    %label
                      %input{:checked => "", :name => "user[confidentiality]", :type => "radio", :value => "private"}
                        %span Privé - Seulement moi-même peut voir le contenu de mon code de vie.
                  %li
                    %label
                      %input{:name => "user[confidentiality]", :type => "radio", :value => "friends_only"}
                        %span Proximité - Seulement mes amis peuvent voir le contenu de mon code de vie.
                  %li
                    %label
                      %input{:name => "user[confidentiality]", :type => "radio", :value => "community_only"}
                        %span Ouvert à la communauté - Tous les utilisateurs peuvent voir le contenu de mon code de vie.
                  %li
                    %label
                      %input{:name => "user[confidentiality]", :type => "radio", :value => "all"}
                        %span Ouvert à tous - Tous les visiteurs du Web peuvent voir le contenu de mon code de vie.
            .clearfix
              %label{:for => "user-url"} Adresse publique
              .input
                .input-prepend
                  %a.url-public{:href => user.url_public, :target => 'blank'}= user.url_public
                %span.help-block
                  %strong Publique oui, mais sur conditions bien sûr:
                  Selon vos options de confidentialités définis ci-dessus, l&#39;accès sera permis ou non aux bonnes personnes.

            .clearfix
              %label#optionsRadio Réseaux sociaux
              .input
                %ul.inputs-list
                  %li
                    %label
                      %input{:checked => "", :name => "user[sharing]", :type => "radio", :value => "enabled"}
                        %span Partage activé - Je désire tenir informé mes réseaux définis à propos de mon code de vie.
                  %li
                    %label
                      %input{:name => "user[sharing]", :type => "radio", :value => "disabled"}
                        %span Partage désactivé
                %span.help-block
                  %strong Pas d'inquiétude!
                  Vous avez le plein contrôle de quoi notifier et pour quel article également. Rien ne sera communiqué sans votre approbation.

            .clearfix
              %label#optionsCheckboxes Aviser les réseaux sociaux définis
              .input
                %ul.inputs-list
                  %li
                    %label
                      %input{:name => "user[notification]", :type => "checkbox", :value => "add"}
                        %span Lors d'un <strong>ajout de nouvel article</strong> dans mon code de vie
                  %li
                    %label
                      %input{:name => "user[notification]", :type => "checkbox", :value => "add"}
                        %span  Lors d'une <strong>modification</strong> à un article existant dans mon code de vie

            / /clearfix
            .actions
              %input.btn.primary{:type => "submit", :value => "Enregistrer"}
                \ 
                %button.btn{:type => "reset"} Annuler
    

    .span4= haml(:'_sidebar', :layout => false, :locals => {:user => user} )
